body {
    background-color:rgb(204, 182, 153);
}
h2 {
    text-align: center;
    color: #944f71;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    text-align: center;
    color:  #8a8780;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
    text-align: center;
    color:  #944f71;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/**********contador************/
.reloj {
    text-align: center;
    margin-top: 3%;
    font-size: 33px;
    color: rgb(24, 98, 119);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.reloj1 {
    text-align: center;
    font-size: 15px;
    color: rgb(24, 98, 119);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5%;
}
/*******************album fotos********************/
.album {
    column-count: 2;
    position: relative;
    width: 88%;
}
.foto-album {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    margin-left: 15%;
    border-radius: 15px;
}
.foto-horiz {
    border-radius: 15px;
    width: 88%;
    height: auto;
    margin-left: 6%;
    margin-bottom: 5%;
}
/****************musica****************/
.img1 {
    border-radius: 15px;
    float: left;
    width: 43%;
    border: solid  rgb(24, 98, 119);
    border-radius: 15px;
    margin-bottom: 5%;
    margin-left: 4%;
}
.img2 {
    border-radius: 15px;
    float: right;
    width: 43%;
    border: solid  rgb(24, 98, 119);
    border-radius: 15px;
    margin-right: 4%;
}
.musica1 {
    padding: 10px;
    color: grey;
    margin-right: 17%;
    text-align: right;
}
.musica2 {
    padding: 10px;
    color: grey;
    margin-left: 15%;
    text-align: left;
}
/************boton calendario************/
.nuestro {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0px;
    color:rgb(78, 68, 68);
}
.calendario {
    cursor: pointer;
    margin-left: 42.5%;
}
.foto {
    width: 65px;
}
/*********calendario**********/
.mes {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(24, 98, 119);
    font-size: 28px;
}
ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none; /*numero de cada elemento no ponerlo*/
    padding: 0;
}
.first-day-agosto {
    grid-column-start: 4;
}
.first-day-sept {
    grid-column-start: 7;
    color: #944f71;
}
.first-day-oct {
    grid-column-start: 2;
    color: #944f71;
}
.first-day-nov {
    grid-column-start: 5;
    color: #944f71;
}
.first-day-dic {
    grid-column-start: 7;
    color: #944f71;
}
.first-day-en {
    grid-column-start: 3;
    color: #944f71;
}
.first-day-feb {
    grid-column-start: 6;
    color: #944f71;
}
.day-name {
    color:#5c5b57;
}
.corazon {
    color: #944f71;
}
.dia {
    color:rgb(24, 98, 119);
}
.corazon-7 {
    color: rgb(116, 98, 98)
}
.flecha {
    cursor: pointer;
    margin-left: 80%;
}
.imagen {
    width: 65px;
}
/*************fieldset****************/
.franja {
    display: flex;
    width: 100%;
    border: none;
    font-size: 15px;
    margin-top: 1%;
}
.texto-franja {
    font-family: cursiva;
    margin: 0.5%;
    color:#944f71;
}
.franja-calendario {
    display: flex;
    width: 100%;
    border: none;
    font-size: 15px;
    margin-top: 40%;
}
.raya-franja {
    font-family: cursiva;
    margin: 0.5%;
    color:#b29ca7;
}

/******** boton parte secreta **********/
.text {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0px;
    color:rgb(78, 68, 68);
}
.boton-priv {
    cursor: pointer;
    margin-left: 42.5%;
}
/******** formulario ********/
form {
    margin: auto; 
    padding-bottom: 2em;
    display: grid;
    place-items: center;
}
.form-words {
    display: block; /*uno abajo del otro*/
    text-align: center;
    font-size: 14px;
    color:rgb(78, 68, 68);
}
input {
    margin: 10px 0 0 0;
    width: 100%; /*que los rectangulos ocupe 100%*/
    min-height: 1.5em; /*tamano rectangulos*/
    background-color:rgb(210, 205, 205);
    border: 1px solid rgb(210, 205, 205);
}
button[type="submit"] {
    display: block;
    width: 20%;
    margin-top: 1em;
    height: 2em;
    font-size: 1rem;
    background-color:rgb(197, 190, 190);
    border-color:rgb(197, 190, 190);
    color:rgb(111, 108, 105);
}
.div-contraseña{
    margin-bottom: 10%;
    margin-top: 13%;
}
.foto-corazon {
    width: 65px;
    margin-left: 21%;
}
/******* PRIV *******/
.p-priv {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
    color:rgb(78, 68, 68);
}
.album-3 {
    column-count: 3;
    position: relative;
    width: 88%;
}
.foto-3 {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    margin-left: 22%;
    border-radius: 15px;
}
.foto-3-1 {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    margin-left: 25%;
    border-radius: 15px;
}
.foto-4-1 {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    margin-left: 14%;
    border-radius: 15px;
}
.album-4 {
    column-count: 2;
    position: relative;
    width: 100%;
    margin-left: 15%;
    margin-top: 23%; 
}
.foto-4 {
    display: block;
    width: 98%;
    height: auto;
    border-radius: 15px;
    margin-top: 28%;
}
.boton-video {
    display: block;
    width: 20%;
    height: 2em;
    font-size: 1rem;
    background-color:rgb(197, 190, 190);
    border-color:rgb(197, 190, 190);
    margin: auto;
    margin-bottom: 5%;
}
.video {
    text-decoration: none;
    color:#5c5b57;
    border-radius: 15px;
}
.videover {
    margin-left: 5%;
}