body {
    background-color:rgb(204, 182, 153);
}
h2 {
    text-align: center;
    color: #944f71;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    text-align: center;
    color:  #8a8780;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/**********contador************/
.reloj {
    text-align: center;
    margin-top: 3%;
    font-size: 33px;
    color: rgb(24, 98, 119);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/*******************album fotos********************/
.album {
    column-count: 2;
    position: relative;
    width: 88%;
}
.foto-album {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    margin-left: 15%;
    border-radius: 15px;
}
.foto-horiz {
    border-radius: 15px;
    width: 88%;
    height: auto;
    margin-left: 6%;
    margin-bottom: 5%;
}
/****************musica****************/
.cancion {
    float: left;
    width: 42%;
    border: 2.2px solid  rgb(24, 98, 119);
    border-radius: 15px;
    margin-top: 7%;
    margin-left: 5%;
}
div.cancion img {
    width: 100%;
    border-radius: 15px;
}
.desc-cancion {
    padding: 15px;
    text-align: center;
}
.escuchar1 {
    padding: 10px;
    color: grey;
    margin-right: 16%;
    text-align: right;
}
.escuchar2 {
    padding: 10px;
    color: grey;
    margin-left: 16%;
    text-align: left;
}
/************boton************/
.calendario {
    background-color:#8a8780;
    border: none;
    color: black;
    padding: 18px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 32.3%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.link-calendario {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*********calendario**********/
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(24, 98, 119);
}
ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none; /*numero de cada elemento no ponerlo*/
    padding: 0;
}
.first-day-agosto {
    grid-column-start: 4;
}
.first-day-sept {
    grid-column-start: 7;
    color: #944f71;
}
.corazon {
    color: #944f71;
}
.dia {
    color:rgb(24, 98, 119);
}
.flecha {
    cursor: pointer;
    margin-left: 80%;
}
.imagen {
    width: 65px;
}
/*************fieldset****************/
.franja {
    display: flex;
    width: 100%;
    border: none;
    font-size: 15px;
    margin-top: 1%;
}
.texto-franja {
    font-family:cursiva;
    margin: 0.5%;
    color:#944f71;
}