body {
    background-color: rgb(175, 164, 148);
}
h1 {
    text-align: center;
    color: #8a8780;
}
h2 {
    text-align: center;
    color: #b0f2c2;
}
h3 {
    text-align: center;
    color:  #b0c2f2;
}
h4 {
    text-align: center;
    color: #e47267;
}
h5 {
    text-align: center;
    color: #fcb7af ;
}






